apiVersion: v1
kind: Secret
metadata:
  name: app-secret
type: Opaque
stringData:
  DATABASE_URL: "postgresql://postgres:postgres@postgres-service:5432/ak_proleter"
  NEXTAUTH_SECRET: "your-secret-here" # Recommended for NextAuth if used
