apiVersion: batch/v1
kind: Job
metadata:
  name: ak-proleter-migration-v1 # You can append a version/timestamp here
spec:
  template:
    spec:
      containers:
      - name: migration
        image: ak-proleter-app:dev
        imagePullPolicy: Never 
        command: ["/bin/sh", "-c"]
        args:
          - |
            echo "--- STARTING DATABASE MIGRATIONS ---"
            prisma migrate deploy
            pnpm db:seed
            echo "--- DATABASE INITIALIZATION COMPLETE ---"
        env:
          - name: DATABASE_URL
            valueFrom:
              secretKeyRef:
                name: app-secret
                key: DATABASE_URL
      restartPolicy: Never
  backoffLimit: 2
